body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
}

/*section header*/
header {
    background: #181818;
    padding: 24px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header .container {
    padding: 0 20px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav li {
    margin-left: 32px;
}

header nav li:first-of-type {
    margin-right: 24px;
}

header nav ul li a {
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
}

header nav ul li:first-of-type a {
    font-size: 13px;
}

header nav ul li:last-of-type a {
    background: #FFFFFF;
    border-radius: 14px;
    font-size: 16px;
    padding: 11px 20px;
    letter-spacing: 0.4px;
    color: #000000;
}

/*section main-banner*/
.main-banner {
    background-image: url("../images/image-main.jpg");
    background-size: cover;
    height: calc(100vh - 90px);
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-banner .container {
    max-width: 580px;
    /*margin: auto;*/
    text-align: center;
    margin: inherit;
    /*отключает маржин авто*!*/
}

.main-banner h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 1px;
}

.main-banner h1 {
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.main-banner p {
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.bottom-icon {
    position: absolute;
    right: 40px;
    bottom: 45px;
    display: flex;
    align-items: center;
}

.bottom-icon li {
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}

.bottom-icon li:before {
    content: "";
    display: inline-block;
    background-image: url("../images/icon1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 6px
}

.bottom-icon li:nth-child(2):before {
    background-image: url("../images/icon2.svg");
}

.bottom-icon li:nth-child(3):before {
    background-image: url("../images/icon3.svg");
    width: 32px;
}

.bottom-icon li:nth-child(4):before {
    background-image: url("../images/icon4.svg");
    width: 10px;
}


/*section what-we-do*/
.what-we-do {
    padding: 113px 0 84px;
    background: #000000;
}

.what-we-do h3 {
    font-size: 23px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 42px;
    text-align: center;
}

.flex-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1168px;
}

.what-we-do .flex-container article {
    max-width: 576px;
    position: relative;
    margin-bottom: 16px;
}

.what-we-do .flex-container article .content {
    position: absolute;
    /*width: calc(100% - 60px);*/
    box-sizing: border-box;
    margin-right: 30px;
    bottom: 30px;
    left: 30px;
}

.what-we-do .flex-container article .content h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.what-we-do .flex-container article .content p {
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 10px;
}

.what-we-do .flex-container article img {
    width: 100%;
    display: block;
}

/*section photo-nature*/
.photo-nature {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("../images/mount.jpg");
    background-size: cover;
    position: relative;
}

.photo-nature .container {
    width: 298px;
    margin-right: 62px;
}

.photo-nature h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.photo-nature p {
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.photo-nature.monstera {
    background-image: url("../images/monstera.jpg");
}

.photo-nature.star-fall {
    background-image: url("../images/star-fall.jpg");
}


/*section tools*/
.tools {
    position: relative;
    background: black;
}

.tools .container {
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 540px;
}

.tools .img-bgr {
    width: 50%;
    height: 100%;
    position: absolute;
    background-image: url("../images/img.jpg");
    background-size: cover;
    right: 0;
    top: 0;
}

.tools .content {
    max-width: calc(50% - 10px);
    color: #FFFFFF;
}

.tools .content h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 6px;
}

.tools .content h3 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 14px;
}

.tools .content p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}


/*section past-clients*/
.past-clients {
    background: #000000;
    padding-top: 113px;
    padding-bottom: 120px;
}

.past-clients .container {
    max-width: 1076px;
    text-align: center;
}

.past-clients h2 {
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.past-clients h3 {
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 82px;
}

.past-clients .flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.past-clients a {
    padding-bottom: 20px;
    }
.past-clients a img {
    display: block;
   }


/*section trigger*/
.trigger {
    background: #000000;
    padding: 113px 0 108px;
    box-sizing: border-box;
}

.trigger .container {
    max-width: 571px;
    margin: auto;
    text-align: center;
}

.trigger h2, .what-we-do h2 {
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-align: center;
}

.trigger h3 {
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 22px;
}


.btn-check {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    padding: 5px 10px 5px 4px;
    /*padding: 11px 10px 11px 42px;*/
    display: inline-flex;
    align-items: center;
    /*position: relative;*/
}

.btn-check:before {
    content: "";
    background-image: url("../images/point.svg");
    background-size: cover;
    width: 32px;
    height: 32px;
    margin-right: 6px;
}


/*footer*/
footer {
    padding: 100px 0;
    background: black;
    color: #FFFFFF;
}

footer .container {
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px white;
    padding-bottom: 26px;
}

footer .left-logo a img {
    display: block;
    margin-bottom: 20px;
}

footer .left-logo p {
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
    padding-bottom: 20px;
}

footer .right-menu {
    display: flex;
    align-items: flex-start;
}

footer .right-menu ul {
    list-style: none;
}

footer .right-menu ul:first-of-type {
    margin-right: 55px;
}

footer .right-menu ul:last-of-type {
    margin-right: 100px;
}

footer .right-menu li {
    margin-bottom: 10px;
}

footer .right-menu li:first-of-type {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

footer .right-menu li a {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

footer .container.form {
    padding-top: 36px;
    padding-bottom: 36px;
    /*padding: 36px 0;*/
}

footer .container.form h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

footer .container.form p {
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

footer form {
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    max-width: 458px;
    width: 100%;
    height: 52px;
    padding: 11px 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer form .form-control {
    background-color: transparent;
    border: none;
    height: 30px;
    width: 80%;
    display: inline-block;
}

footer form button {
    background-color: black;
    border-radius: 11px;
    border: none;
    width: 63px;
    height: 30px;
    cursor: pointer;
}

footer .container.social {
    padding-top: 56px;
    padding-bottom: 80px;
    border-bottom: none;
}

footer .container.social p {
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    padding-bottom: 20px;
}

footer .container.social ul {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

footer .container.social li {
    margin-left: 20px;
}

footer .container.social img {
    display: block;
}









